* {
  margin: 0;
  padding: 0;
}

body{
  background-image:url(image/work.jpg);
  background-size: cover;
}
#cover{
 width: 500px;
 height: 400px;
 border-radius: 10%;
 text-align: center;
 margin: auto;
 position: static;
}
 .container{
background-color: palevioletred;
margin:25% ;
margin-top: 5%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
border-radius: 15px;
 }

.head{

 padding: 10%;
 margin: 10px;
 font-size: xxx-large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  font-size:large;
}

#email {
padding: 10px;
border-radius: 10px;
width: 20rem;
font-size: large;
text-decoration-color:black;
}

#fg{
color: blue;
}

#crt{
 color: blue;
}

#nxt{
 padding: 10px;
 margin-top: 15%;
 border-radius: 10px;
 width: 22rem;
}

